nav {
    position: fixed;
    z-index:999;
    top: 20px; right: 20px;
    color: #444;
    font-weight: bold;
}
nav a{
    margin-left: 20px;
    color: #888;
}
nav .on{
    color: #000;
}
#wrap > div{
    /* height: 100vh; */
}
#wrap .box1 img{height: 100vh; width: 100%;} 
/* box1 */
#wrap .box2{position: relative;}
#wrap .box2 .web{border-radius: 20px; overflow: hidden; width: 1000px; height: 400px; background-color: #000; margin: 0 auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
#wrap .box2 .web img{width: 100%; position: absolute; bottom: 0;}
/* box2 */
#wrap .box3{position: relative;}
#wrap .box3 .banner{width: 1000px; height: 400px; background-color: #000; margin: 0 auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
/* box3 */


